body{
    box-sizing: border-box;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: cornflowerblue;
}

.sq{
    background-color: grey;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    margin-left: 300px;
}

.sq p{
    font-size: 1.5em;
    text-align: center;
    position: relative;
    top: 50px;
}



.sqs div{
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid;
    position: relative;
    left: 5px;
}

.sqs div:nth-child(1) {
    animation: queue 10s infinite linear;
}
  
.sqs div:nth-child(2) {
    animation: queue 10s infinite linear 1s;
    position: relative;
    bottom: 20px;
}
  
.sqs div:nth-child(3) {
    animation: queue 10s infinite linear 2s;
    position: relative;
    bottom: 40px;
}
  
.sqs div:nth-child(4) {
    animation: queue 10s infinite linear 3s;
    position: relative;
    bottom: 60px;
}
  
.sqs div:nth-child(5) {
    animation: queue 10s infinite linear 4s;
    position: relative;
    bottom: 80px;
}
  
.sqs div:nth-child(6) {
    animation: queue 10s infinite linear 5s;
    position: relative;
    bottom: 100px;
}




@keyframes queue {
        20% {
            transform: translate(700px, 0px) rotate(360deg);
            background-color: yellow;
          }
          70% {
            transform: translate(700px, 300px); 
            background-color: red;
          }
          80% {
            transform: translate(0px, 300px) rotate(360deg);
            background-color: blue;
            
          }
          100% {
            transform: translate(0px, 0px) rotate(360deg);
            background-color: blueviolet;
          }
}

