body{
    box-sizing: border-box;
}


h1{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: cornflowerblue;
}

.rect{
    display: flex;
    justify-content: center;
    margin-left: 46%;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    transition: 2s;
}

.rect:hover{
   height: 300px;
}


